// colours
$brown-dark: #633720;
$brown: #744529;
$yellow-light: #f6ecbb;
$yellow: #ecd574;
$yellow-dark: #e0bd4d;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');