@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import '../../../styles/variables';
@import '../../../styles/reset';

footer {
    background-color: #474747;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

a, span {
    color: white;
    text-decoration: none;
    padding-top: 8px;
}

footer > div {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

svg {
    fill: #fff !important;
    padding-right: 7px;
}

.social li {
    list-style: none;
    padding: 5px 0px;
    font-size: smaller;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .footer-section {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    
    .footer-section:first-child {
        padding-top: 0px;
    }

    .footer-section:last-child {
        border-bottom: 0px;
    }
}